* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid {
   color: white;
  .container1 {
    display: flex;
    justify-content: space-around;
    padding: 3% 0px 2%;
    .mid {
      ul {
        li {
          list-style: none;
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
  hr {
    height: 2px;
  }
  .container2 {
      padding-top: 1%;
    padding-bottom: 2%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
  }
}
