<div class="container-fluid">
    <div class="container1">
        <div class="left">
            <h2>Payment Getway</h2>
            <img src="/assets/img/payment-getway.png" style="width: 250px; height: 90px;" alt="">
        </div>
        <div class="mid">
            <h2>Quick Links</h2>
            <ul>
                <li><a routerLink="/main/about">About Us</a></li>
                <li><a routerLink="/main/contact">Contact Us</a></li>
                <li><a routerLink="/main">Contribute</a></li>
                <li><a routerLink="/main">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="right">
            <h2>Game Therapy</h2>
            <ul>
                <a><img src="/assets/img/t2.png" alt=""></a>
                <a><img src="/assets/img/t3.png" alt=""></a>
                <a><img src="/assets/img/t1.png" alt=""></a>
            </ul>
        </div>
    </div>
    <hr>
    <div class="container2">
        <p>Copyright &copy; 2021 All Rights Reserved by Bookie</p>
        <div class="button">
            <ul>
                <a><img src="/assets/img/fb.png" alt="Facebook"></a>
                <a><img src="/assets/img/twitter.png" alt=""></a>
                <a><img src="/assets/img/dribbble.png" alt=""></a>
                <a><img src="/assets/img/linkdin.png" alt=""></a>
            </ul>
        </div>
    </div>
</div>