<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/assets/img/slider1.jpg" class="d-block w-100" height="635px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/slider2.jpg" class="d-block w-100" height="635px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/slider3.jpg" class="d-block w-100" height="635px" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/assets/img/slider4.jpg" class="d-block w-100" height="635px" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container-fluid card-class">
    <div class="card1">
        <img src="/assets/img/bookie1.jpg" alt="">
        <button (click)="login()">Play Now</button>
    </div>
    <div class="card2">
        <img src="/assets/img/bookie2.jpg" alt="">
        <button (click)="login()">Play Now</button>
    </div>
    <div class="card3">
        <img src="/assets/img/bookie3.jpg" alt="">
        <button (click)="login()">Play Now</button>
    </div>
    <div class="card4">
        <img src="/assets/img/bookie4.jpg" alt="">
        <button (click)="login()">Play Now</button>
    </div>
    <div class="card5">
        <img src="/assets/img/bookie5.jpg" alt="">
        <button (click)="login()">Play Now</button>
    </div>
    <div class="card6">
        <img src="/assets/img/bookie6.jpg" alt="">
        <button (click)="login()">Play Now</button>
    </div>
    <div class="card7">
        <img src="/assets/img/bookie7.jpg" alt="">
        <button (click)="login()">Play Now</button>
    </div>
    <div class="card8">
        <img src="/assets/img/bookie8.jpg" alt="">
        <button (click)="login()">Play Now</button>
    </div>
    <div class="card9">
        <img src="/assets/img/bookie9.jpg" alt="">
        <button (click)="login()">Play Now</button>
    </div>
    <div class="card10">
        <img src="/assets/img/bookie10.jpg" alt="">
        <button (click)="login()">Play Now</button>
    </div>
</div>