<div class="header">
<button title="Close" (click)="onNoClick()">X</button>
</div>
<div class="div1" *ngIf="value == 2">
    <video width="520" height="340" controls autoplay>
        <source src="/assets/test/video.mp4" type="video/mp4">
    </video>
</div>
<div class="div2" *ngIf="value == 3">
    <video width="520" height="340" controls autoplay>
        <source src="/assets/test/video1.mp4" type="video/mp4">
    </video>
</div>
<div class="div3" *ngIf="value == 1">
    <video width="520" height="340" controls autoplay>
        <source src="/assets/test/video2.mp4" type="video/mp4">
    </video>
</div>
